@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(252, 248, 248);
}



@media (max-width:768px) {
    #hero-img{
        display: none;
    } 
}